{% extends 'base.html' %}

{% block title %}Program Unggulan{% endblock %}

{% block content %}
<section class="page-header">
    <div class="container">
        <h1 class="animate-fade-in">Program Unggulan</h1>
        <p class="animate-slide-up">Kami menyediakan beragam program pendidikan untuk mendukung potensi dan bakat siswa.
        </p>
    </div>
</section>

<section class="programs-full-section">
    <div class="container">
        <div class="program-list">
            {% for program in data.programs %}
                        <div class="program-card-item animate-on-scroll fade-in"> {# Penambahan kelas animasi #}
                <div class="program-icon">
                    {# Menggunakan tag <img> untuk menampilkan gambar #}
                    <img src="{{ url_for('static', filename=program.image_url) }}" alt="{{ program.title }}">
                </div>
                <h3>{{ program.title }}</h3>
                <p>{{ program.desc }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}